p,div,ul,li,h1,h2,h3,h4,h5,h6{
    marigin:0;     
}
//主体色1
@theme-color:#2D2D30;
@font-color:#fff;
.jqx-widget-content{
       background: @theme-color;
       color:#fff;
   }
#window{
    background: @theme-color;
    #windowContent{
         visibility: hidden; 
         margin-left: 5px;
         #jqxMenu{
           border:none;
           background: @theme-color; 
           color: @font-color; 
           .jqx-menu-ul{
               li:last-child{
                   float: right !important;
                   margin-right: 10px;
               }
           }
           .jqx-fill-state-pressed{
               background: lighten(@theme-color,10%);
           }
         }
        .jqx-fill-state-hover{
           background: lighten(@theme-color,10%);
        } 
        .jqx-fill-state-pressed{
           background: lighten(@theme-color,10%);  
        }
       .activeArea{
           visibility: visible;
           border: 1px solid red;
           height: 95%;
       }  
    }
    #windowHeader{
        border: none;
        background: @theme-color;
        color: #999976;
        .quickStart{
            background: lighten(@theme-color,10%); 
            position: absolute;
            right: 40px;
            bottom: 2px;
        }
    } 
      
}
#window2{
     
     #windowHeader2{
         background: #007ACC;
         color: @font-color;
     }
     #windowContent2{
        background: @theme-color; 
     }
 }

